@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap')

body
    overflow: hidden
    margin:0
    font-family: poppins, sans-serif
.Main
    overflow: hidden
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    .Heading
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        h5
            padding-top: 0
            margin-top: 0
            font-weight: 300



.courses
    position: absolute
    right: 0
    top: 0

.toggler
    transition: all 1s