@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap')

body
    overflow-x: hidden
    overflow-y: scroll
    margin:0
    font-family: poppins, sans-serif
.Main
    overflow: hidden
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    .Heading
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        h5
            padding-top: 0
            margin-top: 0
            font-weight: 300
.calender
    margin-top:-70px
    transform: scale(85%)   

.courses
    position: fixed
    right: 0
    top: 0

.toggler
    position: fixed
    bottom: 0
    left: 0
    transition: all 1s

.credits
    > *
        margin: 10px 0
        padding: 0
        text-align: center
    >div>a
        padding: 15px
    